<a href="https://colab.research.google.com/github/ecierobatto/week_4/blob/master/Moringa_Data_Science_Prep_W3_Independent_Project_2019_08_Esther_Robert_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing the Libraries

In [1]:
# Importing the pandas library
#
import pandas as pd
# Importing the numpy library
#
import numpy as np

#Reading the Dataset from our CSV file

In [2]:
# read the data from the CSV file and create the dataframe to be used
# 
url ='/content/Autolib_dataset (2).csv'
df = pd.read_csv(url, ',')

# Previewing our Dataset

In [3]:
# preview the first 10 rows of our dataset
#
df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

# Accessing Information about our Dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

#Cleaning our Dataset

##validity

In [5]:
# Procedure 1: Irrelevant Data Observation
# Data Cleaning Action: Dropping cities that are not Paris in the City attribute
# Explanation:Our analysis is only based on the city of Paris.
#
paris = df[df.City == 'Paris']
# previewing the first 10 rows 
paris.head(10)
# previewing the last 10 rows
#paris.tail(10)

                               Address  Cars  ...  hour  minute
0                  2 Avenue de Suffren     0  ...    11      43
1            145 Rue Raymond Losserand     6  ...     7      24
3               51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4   6 avenue de la Porte de Champerret     3  ...    17      23
5                 8 Boulevard Voltaire     0  ...     7       2
6                       37 rue Leblanc     0  ...    18      20
8                34 avenue Jean Moulin     1  ...    22      58
9         41 boulevard de Rochechouart     6  ...    15       2
10                      14 rue Censier     0  ...     4      39
12  6 avenue de la Porte de Champerret     5  ...    12      22

[10 rows x 25 columns]

In [7]:
# Procedure 1: Irrelevant Data Observation
# Data Cleaning Action: Dropping unnecessary attributes
# Explanation:We don't need them to answer any question.
#
# dropping month and year attribute
drop_monthyear = paris.drop(['month', 'year'], axis=1)
drop_monthyear.head(10)
# dropping Cars attribute
# we will use Bluecar counter attribute since they have common values
drop_cars =  drop_monthyear.drop('Cars', axis = 1)
drop_cars

                                 Address  Bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
5                   8 Boulevard Voltaire                0  ...     7       2
...                                  ...              ...  ...   ...     ...
4992                     3 avenue d'Ivry                0  ...    23       1
4994                    15 rue de Rocroy                0  ...    20      49
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4999                 5 Rue Henry Brisson                4  ...    10       2

[2816 rows x 22 columns]

In [8]:
# Printing the shape of our new dataset
drop_cars.shape
# Printing the shape of our old dataset
#df.shape

(2816, 22)

In [9]:
# Procedure 1: Irrelevant Data Observation
# Data Cleaning Action: Dropping duplicates
#
drop_dupl = drop_cars.drop_duplicates()
drop_dupl

                                 Address  Bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
5                   8 Boulevard Voltaire                0  ...     7       2
...                                  ...              ...  ...   ...     ...
4992                     3 avenue d'Ivry                0  ...    23       1
4994                    15 rue de Rocroy                0  ...    20      49
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4999                 5 Rue Henry Brisson                4  ...    10       2

[2816 rows x 22 columns]

In [10]:
# Printing the shape of our new dataset
drop_dupl.shape

(2816, 22)

In [38]:
# Checking if there are missing values in your data
# counting the number of missing values
np.count_nonzero(drop_dupl.isnull())

5556

In [12]:
# Drop rows where all cells in that row is NAN
clean_rows = drop_dupl.dropna(how='all')
clean_rows

                                 Address  Bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
5                   8 Boulevard Voltaire                0  ...     7       2
...                                  ...              ...  ...   ...     ...
4992                     3 avenue d'Ivry                0  ...    23       1
4994                    15 rue de Rocroy                0  ...    20      49
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4999                 5 Rue Henry Brisson                4  ...    10       2

[2816 rows x 22 columns]

In [13]:
# Drop columns where all cells in that column is NAN
clean_columns = clean_rows.dropna(axis=1, how='all')
clean_columns

                                 Address  Bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
5                   8 Boulevard Voltaire                0  ...     7       2
...                                  ...              ...  ...   ...     ...
4992                     3 avenue d'Ivry                0  ...    23       1
4994                    15 rue de Rocroy                0  ...    20      49
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4999                 5 Rue Henry Brisson                4  ...    10       2

[2816 rows x 22 columns]

In [14]:
# Printing the shape of our new dataset
clean_columns.shape

(2816, 22)

In [16]:
# Fill in missing data with zeros
clean_columns.fillna(0)

                                 Address  Bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
5                   8 Boulevard Voltaire                0  ...     7       2
...                                  ...              ...  ...   ...     ...
4992                     3 avenue d'Ivry                0  ...    23       1
4994                    15 rue de Rocroy                0  ...    20      49
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4999                 5 Rue Henry Brisson                4  ...    10       2

[2816 rows x 22 columns]

## Accuracy

In [27]:
# Data Cleaning Action:
#Identifying and dropping outliers
#
import matplotlib.pyplot as plt 
% matplotlib inline 
#Calculating our first, third quantiles and then later our IQR
Q1 = clean_columns.quantile(0.25)
Q3 = clean_columns.quantile(0.75)
IQR = Q3 - Q1
#Removing outliers based on the IQR range and stores the result in the data frame 'df_out'
df_out = clean_columns[~((clean_columns < (Q1 - 1.5 * IQR)) | (clean_columns > (Q3 + 1.5 * IQR))).any(axis=1)]
# Printing the shape of our new dataset
print(df_out.shape)
#Printing the shape of our old dataset
print(clean_columns.shape)
#print(IQR)
#print(clean_columns < (Q1 - 1.5 * IQR)) |(clean_columns > (Q3 + 1.5 * IQR))

(2402, 22)
(2816, 22)

## Completeness

In [19]:
# Procedure 1
# Data Cleaning action
# Explanation:checking whether there are duplicates
#
df_out.duplicated().sum()

0

In [33]:
# Procedure 2
# Data Cleaning Action:
# Explanation:Checking whether there are any null/missing values 
#
df_out.isna().any().sum()
#print (df_out.isna().sum().sum() / df_out.size * 100)

2

In [40]:
# Drop missing observations
drop_missing = df_out.fillna(0)
drop_missing
# Checking whether there are any null/missing values
drop_missing.isna().any().sum()

0

In [47]:
# Previewing the first 10 rows of our new dataset
drop_missing.head(10)

                               Address  Bluecar counter  ...  hour  minute
0                  2 Avenue de Suffren                0  ...    11      43
1            145 Rue Raymond Losserand                6  ...     7      24
4   6 avenue de la Porte de Champerret                3  ...    17      23
5                 8 Boulevard Voltaire                0  ...     7       2
6                       37 rue Leblanc                0  ...    18      20
8                34 avenue Jean Moulin                1  ...    22      58
9         41 boulevard de Rochechouart                6  ...    15       2
10                      14 rue Censier                0  ...     4      39
13               34 avenue Jean Moulin                0  ...    21      54
14          8 Boulevard Richard Lenoir                0  ...     8       0

[10 rows x 22 columns]

## Consistency

In [22]:
# Procedure 1: Duplicates
# Data Cleaning Action: No action taken
# Explanation: There were no duplicate instances
#
drop_missing.duplicated().sum()

0

## Uniformity

In [23]:
# Procedure 1:Units of Measurement
# Data Cleaning Action: No action taken
# Explanation: The data is not specified in units: no unit of measurement
#

## Exporting the Cleaned Dataset

In [43]:
# Let's export our dataframe into a csv file 
drop_missing.to_csv('shared_electric_car.csv')
#

# Analysis

In [144]:
# select columns to be used if we consider Bluecars
select_col = ['Bluecar counter', 'Kind', 'Postal code', 'Public name', 'Slots', 'hour']
new_df = drop_missing[select_col]
# preview the first rows of our new dataset
new_df.head(10)

    Bluecar counter     Kind  ...  Slots hour
0                 0  STATION  ...      2   11
1                 6  STATION  ...      0    7
4                 3  PARKING  ...      3   17
5                 0  STATION  ...      4    7
6                 0  PARKING  ...      0   18
8                 1  STATION  ...      4   22
9                 6  PARKING  ...      0   15
10                0  STATION  ...      6    4
13                0  STATION  ...      0   21
14                0  STATION  ...      4    8

[10 rows x 6 columns]

In [145]:

# Identify the most popular hour for returning cars
# first identify the empty slots i.e where slot is 0
slot_empty = new_df['Slots'] == 0
df_slot_empty = new_df[slot_empty]
# select the hour column from the new dataset
hour = df_slot_empty['hour']
# get the most popular hour for returning cars by finding the mode of the hour column
popular_hr = hour.mode()
popular_hr

0    21
dtype: int64

In [146]:
# finding the overall most popular station
# first identify stations in the Kind column i.e where Kind is "STATION"
station = new_df['Kind'] == "STATION"
df_station= new_df[station]
# select the 'Public name' column from the new dataset
public_name = df_station['Public name']
# get the most popular 'Public name'(station) by finding the mode of the hour column
public_name.mode()

0    Paris/Voltaire/182
dtype: object

In [147]:
# finding the  most popular station at the most popular picking hour?
# first select from hour column, where 'hour' is 21
hr = new_df['hour'] == 21
df_hr= new_df[hr]
# select the 'Public name' column from the new dataset
public_name = df_hr['Public name']
# get the most popular 'Public name'(station) by finding the mode of the 'Public name' column
public_name.mode()

0    Paris/Tronchet/19
dtype: object

In [151]:
# Identifying the overall most popular postal code for picking up Blue cars
# first select from 'Public name' column, where 'Public name' is "Paris/Voltaire/182"
public_name = new_df['Public name'] == "Paris/Voltaire/182"
df_public= new_df[public_name]
# select the 'Postal code' column from the new dataset
postal_code= df_public['Postal code']
# get the overall most popular postal code  by finding the mode of the 'Postal code' column
popular_code = postal_code.mode()
popular_code

0    75011
dtype: int64

In [150]:
# finding the  most popular station at the most popular picking hour?
# first select from hour column, where 'hour' is 21
hr = new_df['hour'] == 21
df_hr= new_df[hr]
# select the 'Public name' column from the new dataset
postal_code = df_hr['Postal code']
# get the most popular 'Public name'(station) by finding the mode of the 'Public name' column
postal_code.mode()

0    75016
1    75019
dtype: int64

In [152]:
# checking whether the overall most popular station belong to that postal code
popular_code = new_df['Postal code'] == 75011
df_public.loc[popular_code]

      Bluecar counter     Kind  Postal code         Public name  Slots  hour
17                  6  STATION        75011  Paris/Voltaire/182      0    12
25                  0  STATION        75011  Paris/Voltaire/182      5    21
111                 1  STATION        75011  Paris/Voltaire/182      4    12
757                 1  STATION        75011  Paris/Voltaire/182      4     6
1827                0  STATION        75011  Paris/Voltaire/182      5     8
2161                4  STATION        75011  Paris/Voltaire/182      2     4
2925                5  STATION        75011  Paris/Voltaire/182      0     9
3298                0  STATION        75011  Paris/Voltaire/182      6    21
3587                1  STATION        75011  Paris/Voltaire/182      4    21
4637                2  STATION        75011  Paris/Voltaire/182      3    15
4833                4  STATION        75011  Paris/Voltaire/182      1     7

In [169]:
# checking whether the most popular station at the most popular picking hour belong to that postal code
get_public_name = new_df['Public name'] == "Paris/Tronchet/19"
df_hour1[get_public_name]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

              Address  Bluecar counter  Utilib counter  ...  day  hour minute
2172  19 rue Tronchet                0               0  ...    4    21      9
2873  19 rue Tronchet                0               0  ...    9    21     26
2885  19 rue Tronchet                0               0  ...    4    21     28
3219  19 rue Tronchet                0               0  ...    8    21     20

[4 rows x 22 columns]

In [154]:
# select columns to be used if we consider Utilib counters
select_col = ['Utilib counter', 'Kind', 'Postal code', 'Public name', 'Slots', 'hour']
new_df1 = drop_missing[select_col]
# preview the first rows of our new dataset
new_df1.head(10)

    Utilib counter     Kind  ...  Slots hour
0                0  STATION  ...      2   11
1                0  STATION  ...      0    7
4                0  PARKING  ...      3   17
5                0  STATION  ...      4    7
6                0  PARKING  ...      0   18
8                0  STATION  ...      4   22
9                0  PARKING  ...      0   15
10               0  STATION  ...      6    4
13               0  STATION  ...      0   21
14               0  STATION  ...      4    8

[10 rows x 6 columns]

In [157]:
# Identify the most popular hour for returning cars
# first identify the empty slots i.e where slot is 0
slot_empty = new_df1['Slots'] == 0
df_slot_empty = new_df1[slot_empty]
# select the hour column from the new dataset
hour = df_slot_empty['hour']
# get the most popular hour for returning cars by finding the mode of the hour column
popular_hr = hour.mode()
popular_hr

0    21
dtype: int64

In [159]:
# finding the overall most popular station
# first identify stations in the Kind column i.e where Kind is "STATION"
station = new_df1['Kind'] == "STATION"
df_station= new_df1[station]
# select the 'Public name' column from the new dataset
public_name = df_station['Public name']
# get the most popular 'Public name'(station) by finding the mode of the hour column
public_name.mode()

0    Paris/Voltaire/182
dtype: object

In [161]:
# finding the  most popular station at the most popular picking hour?
# first select from hour column, where 'hour' is 21
hr = new_df1['hour'] == 21
df_hr= new_df1[hr]
# select the 'Public name' column from the new dataset
public_name = df_hr['Public name']
# get the most popular 'Public name'(station) by finding the mode of the 'Public name' column
public_name.mode()

0    Paris/Tronchet/19
dtype: object

In [163]:
# Identifying the overall most popular postal code for picking up Blue cars
# first select from 'Public name' column, where 'Public name' is "Paris/Voltaire/182"
public_name = new_df1['Public name'] == "Paris/Voltaire/182"
df_public= new_df1[public_name]
# select the 'Postal code' column from the new dataset
postal_code= df_public['Postal code']
# get the overall most popular postal code  by finding the mode of the 'Postal code' column
popular_code = postal_code.mode()
popular_code

0    75011
dtype: int64

In [165]:
# finding the  most popular station at the most popular picking hour?
# first select from hour column, where 'hour' is 21
hr = new_df1['hour'] == 21
df_hr= new_df1[hr]
# select the 'Public name' column from the new dataset
postal_code = df_hr['Postal code']
# get the most popular 'Public name'(station) by finding the mode of the 'Public name' column
postal_code.mode()

0    75016
1    75019
dtype: int64

In [166]:
# checking whether the overall most popular station belong to that postal code
popular_code = new_df1['Postal code'] == 75011
df_public.loc[popular_code]

      Utilib 1.4 counter     Kind  Postal code         Public name  Slots  hour
17                     0  STATION        75011  Paris/Voltaire/182      0    12
25                     0  STATION        75011  Paris/Voltaire/182      5    21
111                    0  STATION        75011  Paris/Voltaire/182      4    12
757                    0  STATION        75011  Paris/Voltaire/182      4     6
1827                   0  STATION        75011  Paris/Voltaire/182      5     8
2161                   0  STATION        75011  Paris/Voltaire/182      2     4
2925                   0  STATION        75011  Paris/Voltaire/182      0     9
3298                   0  STATION        75011  Paris/Voltaire/182      6    21
3587                   0  STATION        75011  Paris/Voltaire/182      4    21
4637                   0  STATION        75011  Paris/Voltaire/182      3    15
4833                   0  STATION        75011  Paris/Voltaire/182      1     7

In [170]:
get_public_name = new_df1['Public name'] == "Paris/Tronchet/19"
df_hour1[get_public_name]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

              Address  Bluecar counter  Utilib counter  ...  day  hour minute
2172  19 rue Tronchet                0               0  ...    4    21      9
2873  19 rue Tronchet                0               0  ...    9    21     26
2885  19 rue Tronchet                0               0  ...    4    21     28
3219  19 rue Tronchet                0               0  ...    8    21     20

[4 rows x 22 columns]

In [156]:
# select columns to be used if we consider Bluecars
select_col = ['Utilib 1.4 counter', 'Kind', 'Postal code', 'Public name', 'Slots', 'hour']
new_df2 = drop_missing[select_col]
# preview the first rows of our new dataset
new_df2.head(10)

    Utilib 1.4 counter     Kind  ...  Slots hour
0                    0  STATION  ...      2   11
1                    0  STATION  ...      0    7
4                    0  PARKING  ...      3   17
5                    0  STATION  ...      4    7
6                    0  PARKING  ...      0   18
8                    0  STATION  ...      4   22
9                    0  PARKING  ...      0   15
10                   0  STATION  ...      6    4
13                   0  STATION  ...      0   21
14                   0  STATION  ...      4    8

[10 rows x 6 columns]

In [158]:
# Identify the most popular hour for returning cars
# first identify the empty slots i.e where slot is 0
slot_empty = new_df2['Slots'] == 0
df_slot_empty = new_df2[slot_empty]
# select the hour column from the new dataset
hour = df_slot_empty['hour']
# get the most popular hour for returning cars by finding the mode of the hour column
popular_hr = hour.mode()
popular_hr

0    21
dtype: int64

In [160]:
# finding the overall most popular station
# first identify stations in the Kind column i.e where Kind is "STATION"
station = new_df2['Kind'] == "STATION"
df_station= new_df2[station]
# select the 'Public name' column from the new dataset
public_name = df_station['Public name']
# get the most popular 'Public name'(station) by finding the mode of the hour column
public_name.mode()

0    Paris/Voltaire/182
dtype: object

In [162]:
# finding the  most popular station at the most popular picking hour?
# first select from hour column, where 'hour' is 21
hr = new_df2['hour'] == 21
df_hr= new_df2[hr]
# select the 'Public name' column from the new dataset
public_name = df_hr['Public name']
# get the most popular 'Public name'(station) by finding the mode of the 'Public name' column
public_name.mode()

0    Paris/Tronchet/19
dtype: object

In [164]:
# Identifying the overall most popular postal code for picking up Blue cars
# first select from 'Public name' column, where 'Public name' is "Paris/Voltaire/182"
public_name = new_df2['Public name'] == "Paris/Voltaire/182"
df_public= new_df2[public_name]
# select the 'Postal code' column from the new dataset
postal_code= df_public['Postal code']
# get the overall most popular postal code  by finding the mode of the 'Postal code' column
popular_code = postal_code.mode()
popular_code

0    75011
dtype: int64

In [167]:
# finding the  most popular station at the most popular picking hour?
# first select from hour column, where 'hour' is 21
hr = new_df2['hour'] == 21
df_hr= new_df2[hr]
# select the 'Public name' column from the new dataset
postal_code = df_hr['Postal code']
# get the most popular 'Public name'(station) by finding the mode of the 'Public name' column
postal_code.mode()

0    75016
1    75019
dtype: int64

In [168]:
# checking whether the overall most popular station belong to that postal code
popular_code = new_df['Postal code'] == 75011
df_public.loc[popular_code]

      Utilib 1.4 counter     Kind  Postal code         Public name  Slots  hour
17                     0  STATION        75011  Paris/Voltaire/182      0    12
25                     0  STATION        75011  Paris/Voltaire/182      5    21
111                    0  STATION        75011  Paris/Voltaire/182      4    12
757                    0  STATION        75011  Paris/Voltaire/182      4     6
1827                   0  STATION        75011  Paris/Voltaire/182      5     8
2161                   0  STATION        75011  Paris/Voltaire/182      2     4
2925                   0  STATION        75011  Paris/Voltaire/182      0     9
3298                   0  STATION        75011  Paris/Voltaire/182      6    21
3587                   0  STATION        75011  Paris/Voltaire/182      4    21
4637                   0  STATION        75011  Paris/Voltaire/182      3    15
4833                   0  STATION        75011  Paris/Voltaire/182      1     7

In [171]:
get_public_name = new_df2['Public name'] == "Paris/Tronchet/19"
df_hour1[get_public_name]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

              Address  Bluecar counter  Utilib counter  ...  day  hour minute
2172  19 rue Tronchet                0               0  ...    4    21      9
2873  19 rue Tronchet                0               0  ...    9    21     26
2885  19 rue Tronchet                0               0  ...    4    21     28
3219  19 rue Tronchet                0               0  ...    8    21     20

[4 rows x 22 columns]

In [176]:
# Picking Up Shared Electric Car
# Identify the most popular hour for picking up cars
# first identify the non-empty slots i.e where slot is not 0
slot_occupied = new_df['Slots'] != 0
df_slot = new_df[slot_occupied]
# select the hour column from the new dataset
hour = df_slot['hour']
# get the most popular hour for returning cars by finding the mode of the hour column
popular_hr = hour.mode()
popular_hr

0    16
dtype: int64

In [178]:
# identifying full slot
df_slot.max()

Bluecar counter                     6
Kind                          STATION
Postal code                     75020
Public name        Paris/Ãvangile/45
Slots                               7
hour                               23
dtype: object

In [184]:
# finding the largest slot at the most popular picking hour?
# first select from hour column, where 'hour' is 16
hr = new_df['hour'] == 16
df_hr= new_df[hr]
# select the 'Slots' column from the new dataset
slot = df_hr['Slots']
# get the size of the slot by finding the maximum slot available
slot.max()

6